<li>
	<span class="content"><%= blog.title %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(blog.created_at) %> ago.
	</span>
	<% if current_user?(blog.user) %>
		<%= link_to("edit", {:controller => 'blogs', :action => 'edit', :id=> blog.id}) %>
		/
		<%= link_to "delete", {:controller => 'blogs', :action => 'delete', :id=>blog.id}, data: {confirm: "You sure?"}, title: blog.title %>
	<% end %>
</li>