<% provide(:title, "Edit Blog") %>

<h1>Edit Blog</h1>
<div class="row">
  <div class="span4 offset2" style="width:60%">
	<%= form_for(@blog) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<%= f.submit "Save Changes", class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
</div>
