<p>Hi <%= @user.username %>,</p>

<p>Your mentor - <%= @user.relatedMentor %> - is no longer a mentor at "Sharepoint Mentors".</p>

<p />Get a new mentor at <%= link_to "SharePoint Mentors!", root_url %>

<p />Thanks,
<br />SharePoint Mentors team