<% @page_title = "Topics" %>
<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>

<table>
	<tr>
		<th>Title</th>
	</tr>
	<% @topics.each do |topic| %>
	<tr>
		<td><%= link_to(topic.title, {:action => 'show', :id => topic.id}) %></td>
	</tr>
	<% end %>
</table>
