<% @page_title = "Topics" %>

<h1>Topics#show</h1>


<table>
	<tr>
		<th><%= @topic.title %></th>
	</tr>
	<tr>
		<td><%= @topic.description %></td>
	</tr>
</table>

<%= link_to("New", :action=> "new") %>

