<% provide(:title, "Topics") %>

<h1><%=@topic.title %></h1>


<table>
	<tr>
		<th>Description</th>
	</tr>
	<tr>
		<td><%= @topic.description %></td>
	</tr>
</table>
<p />
<%= link_to "Suggest a new topic!", "/topics/new", class: "btn btn-primary" %>

