<% @page_title = "All Users" %>

<h1>List of all Users</h1>

<ul class="users">
	<% @users.each do |user| %>
	<li>
		<%= gravatar_for user, size: 52 %>
		<!--need to change-->
		<a href="/users/show/#{user.id}">user.username</a>
		<!-- link_to user.username, user-->
		<% if !current_user?(user) %>
		| <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?" } %>
		<% end %>
	</li>
	<% end %>
</ul>

<%= will_paginate %>