<%= form_for @blog do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "compose a new post" %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>