<% @page_title = "About" %>

<h1>About This Site</h1>
<div class="row">
  <div class="span8 offset2">
  	<h2 class="aboutHeading">Learn by Doing</h2>
 	Learn about SharePoint with a mentor that can help you when you run into trouble. Mentors are a great resource for getting a little extra help with the latest SharePoint features or just getting started.
 	<br /><br /><h2 class="aboutHeading">Help Others</h2>
 	Once you have what it takes, be a mentor! Mentoring someone is extremely rewarding and can even help you learn more. Get involved today!
 	<br /><br /><h2 class="aboutHeading">Share what You've Learned</h2>
 	Blog about what you've learned and share it with others!

 	<br /><br /><h2>Get Started Today - It's free!</h2>
  </div>
</div>
