<% @page_title = "Contact Us" %>

<h1>Contact Us</h1>
<div class="row">
  <div class="span8 offset2">
  	If you like this site or would like to give us feedback, feel free to email us as asdf@gmail.com

  	<br /><br />Hope you like the site!
  </div>
</div>
