<% @page_title = "FAQs" %>

<h1>FAQs</h1>
<div class="row">
  <div class="span8 offset2">
  	<h2 class="aboutHeading">How do I work with my mentor?</h2>
 	We leave that up to you and your mentor. Once you sign up for a mentor, the mentor is notified and will contact you to set up arrangements.
 	<br /><br /><h2 class="aboutHeading">What if I don't get a response from the mentor I chose?</h2>
 	Contact sharepointmentors@gmail.com and we will find out what happened. Also feel free to select another mentor.
 	<br /><br /><h2 class="aboutHeading">How do I suggest an enhancement or report a bug?</h2>
 	Contact sharepointmentors@gmail.com with any feedback you have.
  </div>
</div>
