<% @page_title = "Home" %>

<h1 style="margin:0px">Learn by Doing</h1>
<h2 style="margin:5px">SharePoint. Learn often.</h2>

<br />
<div class="row-fluid">
	<div class="span7 thumbnail">
		<img src="/assets/sharepoint.jpg" />
	</div>
	<div class="span5">
		<div class="hero-unitSmall">
			<h3 style="margin:0px">Get Started Today!</h3>
			<br />
			<div style="font-size:16px">
			<b>SharePoint Mentors</b> helps you learn SharePoint the right way - learning from mentors that know best about recommended approaches, workarounds and best practices. 
			</div>
		</div>
	</div>
</div>
<br />
<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail" style="text-align:center">
				<img  style="width: 50px; height: 50px"src="/assets/arrow.png" />
				<h3><%= link_to "Learn from Mentors", mentors_path %></h3>
				<p>Learn from the SharePoint experts to get up to speed quickly. Contribute back by being a Mentor!</p>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style="text-align:center">
				<img style="width: 50px; height: 50px" src="/assets/talk.png" />
				<h3><%= link_to "Learn by Topic", topics_path %></h3>
				<p>Learn by SharePoint topics ranging from business intelligence, branding, web parts, and more!</p>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style="text-align:center">
				<img  style="width: 50px; height: 50px"src="/assets/boxes.png" />
				<h3><%= link_to "Learn with Blogs", blogs_path %></h3>
				<p>Look at what other people are talking about on their blogs. You can also share your learnings with your own blog!</p>
			</div>
		</li>
</div>
